<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="settings">
  <ion-list radio-group [(ngModel)]="selectCountryModel">
    <ion-list-header *ngIf="!selectCountry">Pick a country</ion-list-header>
    <ion-list-header *ngIf="selectCountry">Country selected: <p [style.direction]="selectCountry.rtl ? 'rtl' : 'ltr'" [innerText]="selectCountry.local_name"></p>
    </ion-list-header>
    <ion-item *ngFor="let country of countries" [class.active]="selectCountry === country">
      <ion-label>
        {{country.name}}
      </ion-label>
      <ion-radio [value]="country.code" (click)="select(country)">
      </ion-radio>
    </ion-item>
  </ion-list>
</ion-content>
